/**
 * Primary color used throughout the application
 * @type {Color}
 * @value #d80000 (Bright red)
 */
// $primary-color: #920044;
$primary-color: #ff223f;
$primary-text-color: #FFFFFF;

$mobile-screen: 600px;
$tablet: 767px;
$small-screen: 1024px;
$desktop: 1200px;
$large-desktop: 1400px;

.home {
    color: rgb(255, 255, 255);
    width: 100%;
}

.home-header {
    padding: 2rem 3rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    color: rgba($color: $primary-text-color, $alpha: 0.7);
    font-size: 1.2rem;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.center {
    width: 100%;
    max-width: 1024px;
}

.intro {
    display: flex;
    padding: 2rem;
    gap: 2rem;

    .intro-left {
        /* Placeholder for future styling */

        .img-container {
            position: relative;
            overflow: hidden;

            .me-img {
                width: 250px;
                height: auto;
                border-radius: 50%;
            }

            // .cover {
            //     position: absolute;
            //     inset: 0;
            //     width: 250px;
            //     height: auto;
            //     background-color: rgba($color: $primary-color, $alpha: 0.1);
            //     border-radius: 50%;
            // }
        }

        .social-links {
            display: flex;
            justify-content: space-between;
            gap: 0.75rem;
            margin-top: 3rem;

            .social-icon {
                display: flex;
                border: 1px solid $primary-color;
                padding: 1rem 1.5rem;
                border-radius: 0.5rem;
                color: rgba($color: $primary-text-color, $alpha: 0.7);
                transition: color 0.3s ease;
                gap: 0.75rem;
                text-decoration: none;

                p {
                    display: flex;
                    align-items: center;
                }

                &:hover {
                    color: rgba($color: $primary-color, $alpha: 1);
                }

            }
        }
    }

    .intro-right {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .resume-icon {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            background-color: $primary-color;
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            color: rgba($color: $primary-text-color, $alpha: 1);
            width: fit-content;
            text-decoration: none;
            transition: 0.3s ease;

            &:hover {
                background-color: rgba($color: $primary-color, $alpha: 0.5);
                transition: 0.3s ease;
            }

            p {
                display: flex;
                align-items: center;
            }

            .resume {
                font-size: 1.4rem;
            }
        }

        .name {
            color: rgba($color: $primary-text-color, $alpha: 1);
            font-size: 4rem;
            font-weight: bold;
        }

        .profession {
            font-size: 1.6rem;
            color: rgba($color: $primary-text-color, $alpha: 0.5);
            margin-bottom: 1rem;
        }

        .bio {
            font-size: 1.2rem;
            color: rgba($color: $primary-text-color, $alpha: 0.7);
            line-height: 2rem;
        }
    }
}

.tech-stack {
    margin-top: 4rem;
    padding: 2rem;

    .tech-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        padding-bottom: 2rem;

        .tech-title {
            color: rgba($color: $primary-text-color, $alpha: 1);
            font-size: 2rem;
            font-weight: bold;
        }

        .tech-icon-title {
            font-size: 2.5rem;
            display: flex;
            align-items: center;
        }
    }

    .stack-types {
        margin-top: 2rem;
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;

        .stack-type {
            display: grid;
            grid-template-columns: repeat(6, minmax(0, 1fr));
            gap: 2rem;

            .stack-item {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba($color: $primary-color, $alpha: 1.0);
                padding: 2rem;
                border-radius: 0.5rem;
                font-size: 60px;

                &:hover {
                    background-color: rgba($color: $primary-color, $alpha: 0.6);
                    transition: 0.3s ease;
                }
            }
        }
    }
}


.projects-section {
    margin-top: 4rem;
    padding: 2rem;

    .projects-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        padding-bottom: 2rem;

        .projects-title {
            font-size: 2rem;
            font-weight: bold;
            color: rgba($color: $primary-text-color, $alpha: 1);
        }

        .projects-icon-title {
            font-size: 2.5rem;
            display: flex;
            align-items: center;
        }
    }

    .projects-container {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .project-wrapper {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 1rem;

            .project-card {
                border-radius: 0.5rem;
                overflow: hidden;

                .project-image {
                    width: 100%;
                    height: auto;
                }

                .project-content {
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.75rem;
                    background-color: #161616;

                    .project-title {
                        color: rgba($color: $primary-text-color, $alpha: 1);
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    .project-description {
                        color: rgba($color: $primary-text-color, $alpha: 0.7);
                        line-height: 1.5rem;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    .project-highlights {
                        list-style-type: disc;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        padding-left: 1.5rem;
                        color: rgba($color: $primary-text-color, $alpha: 0.7);
                    }

                    .project-stack {
                        // margin-top: 1rem;
                        display: flex;
                        gap: 0.75rem;
                    }

                    .project-links {
                        display: flex;
                        gap: 1rem;
                        margin-top: 1rem;
                        // padding: 0.5rem;
                        justify-content: center;

                        .project-link {
                            color: rgba($color: $primary-text-color, $alpha: 0.7);
                            text-decoration: none;
                            border: 1px solid rgba($color: $primary-color, $alpha: 1.0);
                            // background-color: #920044;
                            padding: 1rem 1.5rem;
                            border-radius: 0.5rem;
                            transition: color 0.3s ease;
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            p {
                                display: flex;
                                align-items: center;
                            }

                            &:hover {
                                color: rgba($color: $primary-color, $alpha: 1);
                                transition: color 0.3s ease;
                                border: 1px solid rgba($color: $primary-color, $alpha: 1.0);
                            }
                        }
                    }
                }
            }
        }
    }
}

.education-section {
    margin-top: 4rem;
    padding: 2rem;

    .education-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        padding-bottom: 2rem;

        .education-title {
            font-size: 2rem;
            font-weight: bold;
            color: rgba($color: $primary-text-color, $alpha: 1);
        }

        .education-icon-title {
            font-size: 2.5rem;
            display: flex;
            align-items: center;
        }
    }

    .education-container {
        margin-top: 1rem;
        padding: 1rem 2rem;

        .education-card {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            // border: 1px solid rgba($color: $primary-color, $alpha: 1.0);
            padding: 2rem;
            border-radius: 0.5rem;
            // background-color: #161616;

            .education-content {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .education-title {
                    color: rgba($color: #FFF, $alpha: 1);
                    // color: rgba($color: $primary-color, $alpha: 1);
                }

                .education-degree {
                    color: rgba($color: $primary-color, $alpha: 1);
                    font-size: 1.4rem;
                }

                .education-description {
                    color: rgba($color: #ffffff, $alpha: 0.6);
                    line-height: 1.5rem;
                }

                .education-dates {
                    // color: rgba($color: $primary-color, $alpha: 1);
                    font-weight: bold;
                }
            }
        }
    }
}

.footer-section {
    display: flex;
    justify-content: center;
    padding: 4rem;

    .footer {
        color: rgba($color: #FFF, $alpha: 0.5)
    }
}

@media (max-width: $small-screen) {
    .tech-stack {
        .stack-types {
            .stack-type {
                grid-template-columns: repeat(5, minmax(0, 1fr));

                .stack-item {
                    font-size: 50px;
                }
            }
        }
    }

    .projects-section {
        .projects-container {
            .project-wrapper {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                .project-card {
                    .project-content {
                        .project-title {
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet) {
    .projects-section {
        .projects-container {
            .project-wrapper {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }

    .tech-stack {
        .stack-types {
            .stack-type {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
        }
    }

    .intro {
        .intro-left {
            display: none;
        }
    }
}

@media (max-width: $mobile-screen) {
    .nav {
        font-size: 0.8rem;
    }

    .tech-stack {
        .stack-types {
            .stack-type {
                .stack-item {
                    padding: 1.5rem;
                    font-size: 30px;
                }
            }
        }
    }
}