$primaty-color: #920044;

.home {
    color: rgb(255, 255, 255);
    width: 100%;
}

.home-header {
    padding: 2rem 3rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    color: rgba($color: #ffffff, $alpha: 0.7);
    font-size: 1.2rem;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.center {
    width: 100%;
    max-width: 1024px;
}

.intro {
    display: flex;
    padding: 2rem;
    gap: 2rem;

    .intro-left {
        /* Placeholder for future styling */

        .img-container {
            position: relative;
            overflow: hidden;

            .me-img {
                width: 250px;
                height: auto;
                border-radius: 1rem;
            }

            .cover {
                position: absolute;
                inset: 0;
                width: 250px;
                height: auto;
                background-color: rgba($color: $primaty-color, $alpha: 0.2);
                border-radius: 1rem;
            }
        }

        .social-links {
            display: flex;
            justify-content: space-between;
            gap: 0.75rem;
            margin-top: 3rem;

            .social-icon {
                display: flex;
                border: 1px solid $primaty-color;
                padding: 1rem 1.5rem;
                border-radius: 0.5rem;
                color: rgba($color: #ffffff, $alpha: 0.7);
                transition: color 0.3s ease;
                gap: 0.75rem;
                text-decoration: none;

                p {
                    display: flex;
                    align-items: center;
                }

                &:hover {
                    color: rgba($color: $primaty-color, $alpha: 1);
                }

            }
        }
    }

    .intro-right {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .resume-icon {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            background-color: #111111;
            border: 1px solid $primaty-color;
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            color: rgba($color: #ffffff, $alpha: 1);
            width: fit-content;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                background-color: rgba($color: $primaty-color, $alpha: 1);
                color: #FFFFFF;
                transition: color 0.3s ease;
                border: 1px solid $primaty-color;
                font-weight: bold;
            }

            p {
                display: flex;
                align-items: center;
            }

            .resume {
                font-size: 1.4rem;
            }
        }

        .name {
            font-size: 4rem;
            font-weight: bold;
        }

        .profession {
            font-size: 1.6rem;
            color: rgba($color: #ffffff, $alpha: 0.5);
            margin-bottom: 1rem;
        }

        .bio {
            font-size: 1.2rem;
            color: rgba($color: #ffffff, $alpha: 0.7);
            line-height: 2rem;
        }
    }
}

.tech-stack {
    margin-top: 4rem;
    padding: 2rem;

    .tech-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        padding-bottom: 2rem;

        .tech-title {
            font-size: 2rem;
            font-weight: bold;
        }

        .tech-icon-title {
            font-size: 2.5rem;
            display: flex;
            align-items: center;
        }
    }

    .stack-types {
        margin-top: 2rem;
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;

        .stack-type {
            display: grid;
            grid-template-columns: repeat(6, minmax(0, 1fr));
            gap: 2rem;

            .stack-item {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba($color: $primaty-color, $alpha: 1.0);
                padding: 2rem;
                border-radius: 0.5rem;

                &:hover {
                    background-color: rgba($color: $primaty-color, $alpha: 0.6);
                    transition: 0.3s ease;
                }
            }
        }
    }
}


.projects-section {
    margin-top: 4rem;
    padding: 2rem;

    .projects-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        padding-bottom: 2rem;

        .projects-title {
            font-size: 2rem;
            font-weight: bold;
        }

        .projects-icon-title {
            font-size: 2.5rem;
            display: flex;
            align-items: center;
        }
    }

    .projects-container {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .project-wrapper {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            // border: 1px solid rgba($color: $primaty-color, $alpha: 1.0);
            gap: 2rem;

            .project-card {
                // some stuff
                border-radius: 0.5rem;
                overflow: hidden;
                border: 1px solid rgba($color: $primaty-color, $alpha: 1.0);

                .project-image {
                    width: 100%;
                    height: auto;
                }

                .project-content {
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.75rem;

                    .project-description {
                        color: rgba($color: #ffffff, $alpha: 0.7);
                        line-height: 1.5rem;
                    }

                    .project-highlights {
                        list-style-type: disc;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        padding-left: 1.5rem;
                        color: rgba($color: #ffffff, $alpha: 0.7)
                    }

                    .project-stack {
                        // margin-top: 1rem;
                        display: flex;
                        gap: 0.75rem;
                    }
                }
            }
        }
    }
}